<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chipotle!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<style>
  body {background-color: rgb(245, 224, 196);}
  .site-logo {
    width: 100%
    height: 80%;
  }
  </style>
<body>
    <div class="container">
        <div class="row margin-top-50">
          
    <div class="container text-center"style="color: red;">
      <h1 class="jumbotron">Stock Data</h1>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container">
                  <a class="navbar-brand text-white" href="/">Home Page</a> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button> 
    </div>   
</nav>
</div> 
<div class="col-md-12">
  <div class="col-md-12">
      <h3>Stock Visualization</h3>
      <hr>
      <div class="row">
          <div class="col-6 col-md-6">
              <img src="/static/images/Chipotle_stock.JPG" width="100%">
              </> 
          </div>
          <div class="col-6 col-md-6">
              <img src="/static/images/CFP.Series.JPG" width="100%">
          </div>
        </div> 
        <div class="row" style=text-align:left;>
          <p>
          Despite impact of COVID-19 the total revenue for 2020 was $6.0 billion, an increase of 7.1% from 2019.<br> The increase in total revenue was driven by a 1.8% increase in comparable restaurant sales and new restaurant openings.<br>In 2020 we opened 161 new restaurants during the year.<br> Digital sales grew 174.1% year over year to $2.8 billion and represented 46.2% of sales. About half of the digital sales were via delivery, benefiting from our expanded partnerships.
          </p>
        </div> 
      </div>
    </div>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script type=text/javascript src="/static/chipotle.js"></script>
</body>

</html>